* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#form {
    max-width: 1280px;
    margin: 0 auto;
    padding: 250px 0px;
}

form, form ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form ul {
    width: 30%;
    background-color:#f4f4f4;
    padding: 50px 30px;
    border-radius: 20px;
}

form li {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form label {
    color: #3498db;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

input {
    font-family: 'Inter', sans-serif;
    width: 75%;
    padding: 8px 8px;
    margin: 12px 0px;
    background-color: white;
    border-radius: 5px;
    border-color: #3498db;
}

input::placeholder{
    color: #3498db;
}

#btn-numbers {
    margin-bottom: 0px;
    width: 100%;
    padding: 16px 0px;
    background-color: #3498db;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.error-message, .sucess-message {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding: 16px;
    color: white;
    margin-bottom: 8px;
    display:none;
}

.error-message {
    background-color: red;
}

.sucess-message {
    background-color: #27ae60;
}

.error-border {
    border: 1px solid red;
}